.column-width {
    max-width: 380px;
    min-width: 380px;
}

.container {
    overflow: hidden;
    height: 100%vh;
}

/* .card-wrapper {
   overflow: hidden;
} */

/* .project-card {
    overflow: hidden;
} */

.project-card:hover {
    opacity: .7;
}