<div class="navbar-expand-md border-bottom mb-3 light-purple">
    <div class="container">
        <ul class="nav justify-content-center">
            <li class="nav-item">
                <!-- routerLinkActive adds styling to the currently selected nav bar link -->
                <a class="nav-link text" routerLink="/home" routerLinkActive="text-light">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text" routerLink="/portfolio" routerLinkActive="text-light">Portfolio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text" routerLink="/resume" routerLinkActive="text-light">Resume</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text" routerLink="/about" routerLinkActive="text-light">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text" routerLink="/contact" routerLinkActive="text-light">Contact</a>
            </li>
        </ul>
    </div>
</div>
