<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="container">
    <div class="row">
        <!-- About Me -->
        <div class="col-lg">
            <div class="text-center">
                <h2>Hi, I'm Danny!</h2>
                <hr style="visibility: hidden;">
                <!-- <h5>Download my resume <a class="fa fa-file" href="../../assets/FastTrack - Danny Clynes version 3.docx.pdf" target="_blank"></a></h5> -->
                <img src={{avatarUrl}} alt="profile picture" height="300" class="rounded-circle">
                <p class="mt-2">{{bio}}</p>   
            </div>
        </div>
        <!-- Featured Project -->
        <div class="col-lg">
            <div class="text-center">
                <h2>Featured Project</h2>
                <h4>{{ featureProject.name }}</h4>
            </div>

            <carousel>
                <div *ngFor="let picture of featureProject.pictures">
                    <slide><img class="slide" src={{picture}} alt={{featureProject.name}}></slide>
                </div>
            </carousel>
            <div class="text-center">
                <p class="mt-2">{{featureProject.summary}}</p>
            </div>
        </div>
    </div>
</div>
