<div class="container">
    <div class="row">
        <!-- About Me -->
        <div class="col-lg">
            <div class="text-center">
                <h2>About Me</h2>
                <img src={{avatarUrl}} alt="profile picture" height="300" class="rounded-circle">
                <p class="mt-2">{{bio}}
                    </p>
            </div>
        </div>
        <!-- Featured Project -->
        <div class="col-lg">
            <div class="text-center">
                <h2>Featured Project</h2>
                <h4>{{ featureProject.name }}</h4>
            </div>

            <carousel>
                <div *ngFor="let picture of featureProject.pictures">
                    <slide><img class="slide" src={{picture}} alt={{featureProject.name}}></slide>
                </div>
            </carousel>
            <div class="text-center">
                <p class="mt-2">{{featureProject.summary}}</p>
                <p>Visit the portfolio section to learn more</p>
            </div>
        </div>
    </div>
</div>
