<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<section class="section about-section" id="about">
    <div class="container">
        <div class="row align-items-center justify-content-around flex-row-reverse">
            <div class="col-lg-6">
                <div class="about-text text-center">
                    <h3 class="dark-color">Hi, I'm Danny.</h3>
                    <p>Things about me...</p>
                    <p>...from story mining</p>
                    <div class="btn-bar">
                        <a class="fa fa-youtube" href="https://www.youtube.com/@freestonegear4551" target="_blank"></a>
                        <a class="fa fa-linkedin" href="https://www.linkedin.com/in/danny-clynes-6a52a24a/" target="_blank"></a>
                        <a class="fa fa-wordpress" href="https://roadstoridges.wordpress.com/" target="_blank"></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 text-center">
                <div>
                    <img class="profile rounded-circle" src="../../assets/linkedin_profile.jpg">
                </div>
            </div>
        </div>
    </div>
</section>