<!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> -->
<div class="card shadow text-center project">
    <div class="card-body">
        <h5 class="card-title">{{ project.name }}</h5>
        <p class="card-text">{{ project.summary }}.</p>
            <div class="center-items card-details">
                <button class="btn btn-primary" (click)="OpenProjectModal()">View More</button>
                <a class="fa fa-github fa-2x github-icon" href="{{ project.projectLink }}" target="_blank"></a>
            </div>
    </div>

    <div class="card-footer">
        <div class="d-flex flex-wrap justify-content-center">
            <div *ngFor="let tag of project.tags">
                <div class="tag me-2 mb-1" [style.background-color]="tag.color">{{ tag }}</div>
            </div>          
        </div>
    </div>
</div>