.project {
    max-width: 350px;
    min-width: 350px;
}

.github-icon {
    color: black;
}

.card-details {
    display: flex;
    gap: 20px;
}

.center-items {
    display: flex;
    justify-content: center;
    align-items: center;
}